@page "/Students"
@attribute [Authorize(Roles = "admin, staff")]

<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Studentët</h3>
        <a href="Student" class="btn btn-primary mb-3">Shto Student</a>
    </div>

    <div class="mb-3">
        <label for="search" class="form-label">Kërko Studentë</label>
        <div class="input-group">
            <input id="search" class="form-control" style="width: 50%;" @bind-value="searchTerm" @oninput="SearchStudents" placeholder="Kërko sipas emrit ose mbiemrit..." />
        </div>
    </div>

    @if (_students == null)
    {
        <p><em>Duke ngarkuar...</em></p>
    }
    else if (!_students.Any())
    {
        <p><em>Nuk u gjetën studentë.</em></p>
    }
    else
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Emri</th>
                        <th scope="col">Mbiemri</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefoni</th>
                        <th scope="col">Data e Lindjes</th>
                        <th scope="col" class="text-end pe-3">Veprimet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in _students)
                    {
                        <tr>
                            <td>@student.Firstname</td>
                            <td>@student.Lastname</td>
                            <td>@student.Email</td>
                            <td>@student.Tel</td>
                            <td>@student.Birthdate</td>
                            <td class="text-end pe-3"><a href="@("Student/" + student.Id)" class="btn btn-warning">Edito</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>