@page "/examSessions"
@attribute [Authorize(Roles = "Admin, Staff")]

<h3>Exam Seasons</h3>

@if (examSessions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <a href="examSession" class="btn btn-primary">Add New</a>
    <table class="table">
        <thead>
            <tr>
                <th>Exam Season ID</th>
                <th>Name</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in examSessions)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.Name</td>
                    <td>@row.StartDate</td>
                    <td>@row.EndDate</td>

                    <td><a href="@("examSession/" + row.Id)" class="btn btn-warning">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}