@page "/Group"
@page "/Group/{id}"
@attribute [Authorize(Roles = "Admin, Staff")]


@if (string.IsNullOrEmpty(Id))
{
    <PageTitle>Group Add</PageTitle>
    <h3>Add a Group</h3>
}
else
{
    <h3>Group - @groupModel.Name</h3>
    <PageTitle>Group Update</PageTitle>
    <p>Update Group</p>
}

<div class="row card">
    <EditForm Model="@groupModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" FormName="sampleForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="name">Name (Unique*)</label>
            <InputText class="form-control" @bind-Value="groupModel.Name" />
            <label for="gen">Generation</label>
            <select class="form-control" @bind="groupModel.GenerationId">
                <option value="">Select a Generation</option>
                @foreach (var row in generations)
                {
                    <option value="@row.Id">@row.Name</option>
                }
            </select>
            <br />
            <button type="submit" class="btn btn-primary">Save</button>


            <div class="form-group">
                <p>@Message</p>
            </div>
        </div>
    </EditForm>
    <br />
    <br />

    <!-- Students without a group table on the left and students inside the group of this page in the right side-->
    <div class="row">
        <div class="col-md-6">
            <h2>Students without a group</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Birthdate</th>
                        <th>Acation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in studentsWithoutGroup)
                    {
                        <tr>
                            <td>@student.Firstname</td>
                            <td>@student.Lastname</td>
                            <td>@student.Birthdate</td>
                            <td>
                                <button class="btn btn-primary" @onclick="() => AddStudentToGroup(student.Id)">Add</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h2>Students in this group</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Birthdate</th>
                        <th>Acation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in studentsInGroup)
                    {
                        <tr>
                            <td>@student.Firstname</td>
                            <td>@student.Lastname</td>
                            <td>@student.Birthdate</td>
                            <td>
                                <button class="btn btn-danger" @onclick="() => RemoveStudentFromGroup(student.Id)">Remove</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</div>