@page "/DegreePrograms"
<h3><h3>Degree Programs List</h3></h3>

<a href="@("DegreeProgram")" class="btn btn-success"> Add new</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Grade</th>  
            <th>Length of studies (in semesters)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in degreePrograms)
        {
            <tr>
                <td>@row.Id</td>
                <td>@row.Name</td>
                <td>@row.Grade</td>
                <td>@row.StudyLength</td>


                <td><a href="@("DegreeProgram/" + row.Id)" class="btn btn-warning">Edit</a></td>
            </tr>
        }
    </tbody>

</table>