@page "/StudyPlan/{Id?}"
@page "/StudyPlan"
<PageTitle>Plani i Studimit</PageTitle>

<div class="container p-4 bg-light rounded border shadow-lg mb-4">
    @if (string.IsNullOrEmpty(Id))
    {
        <h3>Plani i Studimit</h3>
    }
    else
    {
        <h3>Plani i Studimit - @studyPlanModel.Name</h3>
        <p class="text-muted">Përditëso Planin e Studimit</p>
    }
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button class="btn btn-secondary" @onclick="@(() => _navi.NavigateTo("studyPlans"))">Kthehu</button>
                <div>
                    @if (string.IsNullOrEmpty(Id))
                    {
                        <h4>Shto Planin e Studimit</h4>
                    }
                    else
                    {
                        <h4>Përditëso Planin e Studimit</h4>
                    }
                </div>
            </div>
            <div class="card shadow-lg">
                <div class="card-body">
                    <EditForm Model="@studyPlanModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" class="needs-validation" novalidate>
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger" />
                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Emri</label>
                            <InputText id="name" class="form-control" @bind-Value="studyPlanModel.Name" required />
                            <ValidationMessage For="@(() => studyPlanModel.Name)" class="text-danger" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="code" class="form-label">Kodi</label>
                            <InputText id="code" class="form-control" @bind-Value="studyPlanModel.Code" required />
                            <ValidationMessage For="@(() => studyPlanModel.Code)" class="text-danger" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="startDate" class="form-label">Data e Fillimit</label>
                            <InputDate id="startDate" class="form-control" @bind-Value="studyPlanModel.StartDate" required />
                            <ValidationMessage For="@(() => studyPlanModel.StartDate)" class="text-danger" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="endDate" class="form-label">Data e Mbarimit</label>
                            <InputDate id="endDate" class="form-control" @bind-Value="studyPlanModel.EndDate" required />
                            <ValidationMessage For="@(() => studyPlanModel.EndDate)" class="text-danger" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="degreeProgramId" class="form-label">Programi i Diplomës</label>
                            <InputSelect id="degreeProgramId" class="form-control" @bind-Value="studyPlanModel.DegreeProgId" required>
                                <option value="">Zgjidh Programin e Diplomës</option>
                                @foreach (var degreeProgram in degreePrograms)
                                {
                                    <option value="@degreeProgram.Id">@degreeProgram.Name</option>
                                }
                            </InputSelect>
                            <ValidationMessage For="@(() => studyPlanModel.DegreeProgId)" class="text-danger" />
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-success me-md-2">Ruaj</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
    <AlertCard @ref="_alertCard" />
    <div class="container-fluid mt-4">
        @if (!string.IsNullOrEmpty(Id))
        {
            <br />
            <div class="row">
                <div class="col-md-6">

                    <h4>Lëndët që nuk janë në Planin e Studimit</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Emri</th>
                                <th>Veprime</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subject in subjectsNotIn)
                            {
                                <tr>
                                    <td>@subject.Name</td>
                                    <td>
                                        <button class="btn btn-primary" @onclick="() => AddSubjectToStudyPlan(subject.Id)">Shto</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h4>Lëndët në Planin e Studimit</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Emri</th>
                                <th>Kreditet ECTS</th>
                                <th>Semestri</th>
                                <th>Veprime</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subject in planSubjects)
                            {
                                <tr>
                                    <td>@subject.Name</td>
                                    <td>@subject.CreditsNo</td>
                                    <td>@subject.Semester</td>
                                    <td>
                                        <a href="@($"StudyPlanSubject/{subject.Id}")" class="btn btn-warning">Përditëso</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

</div>
