@page "/StudyPlans"
@attribute [Authorize(Roles = "Admin, Staff")]

<h3>Study Plans</h3>

<a href="@("StudyPlan")" class="btn btn-success"> Add new</a>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Study Plan Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in studyPlans)
        {
            <tr>
                <td>@row.Id</td>
                <td>@row.Name</td>
                <td>@row.StartDate</td>
                <td>@row.EndDate</td>
                <td><a href="@("StudyPlan/" + row.Id)" class="btn btn-warning">Edit</a></td>
            </tr>
        }
    </tbody>
</table> 