@page "/Department"
@page "/Department/{id}"
@using DigitalFacultySystem.Client.Pages.DegreeProgram
<h3>Department - @departmentModel.Name</h3>

@if (string.IsNullOrEmpty(Id))
{
    <PageTitle>Department Add</PageTitle>
    <h3>Add a new Department</h3>
}
else
{
    <PageTitle>Department Update</PageTitle>
    <p>Update Department</p>
}


<div class="row card">
    <EditForm Model="@departmentModel" OnValidSubmit="@HandleValidSumbit" OnInvalidSubmit="@HandleInValidSumbit" FormName="sampleForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" @bind-Value="departmentModel.Name" />
            <br />
            <button type="submit" class="btn btn-primary">Save</button>


            <div class="form-group">
                <p>@Message</p>
            </div>
        </div>
    </EditForm>
</div>

<br />
<br />
<h4>Degree Programs</h4>
@if(@departmentModel.DegreePrograms != null && @departmentModel.DegreePrograms.Count > 0)
{
    // Degree Programs
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Length of studies (in semesters)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in @departmentModel.DegreePrograms)
            {
                <tr>
                    <td>@row.Id</td>
                    <td>@row.Name</td>
                    <td>@row.Grade</td>
                    <td>@row.StudyLength</td>
                    <td><a href="@("DegreeProgram/" + row.Id)" class="btn btn-warning">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
    
}
else
{
    <p>No Degree Programs found</p>
}
