@page "/AcademicYears"
@attribute [Authorize(Roles = "admin, staff")]


<div class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Vitet Akademike</h3>
        <a href="@("AcademicYear")" class="btn btn-primary mb-3">Shto vit akademik</a>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col">Emri</th>
                    <th scope="col">Data e Fillimit</th>
                    <th scope="col">Data e Përfundimit</th>
                    <th scope="col" class="text-end pe-3">Veprimet</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in _academicYears)
                {
                    <tr>
                        <td>@row.Name</td>
                        <td>@row.StartDate</td>
                        <td>@row.EndDate</td>
                        <td class="text-end pe-3"><a href="@("AcademicYear/" + row.Id)" class="btn btn-warning">Ndrysho</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
