@page "/ExamSession"
@page "/ExamSession/{id}"


@if (string.IsNullOrEmpty(Id))
{
    <PageTitle>Exam Season Add</PageTitle>
    <h3>Add a new Exam Season</h3>
}
else
{
    <PageTitle>Exam Season</PageTitle>
    <h3>Exam Season - @examSessionModel.Name</h3>
    <p>Update Exam Season</p>
}


<div class="row card">
    <EditForm Model="@examSessionModel" OnValidSubmit="@HandleValidSumbit" OnInvalidSubmit="@HandleInValidSumbit" FormName="sampleForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" @bind-Value="examSessionModel.Name" />
            <label for="startDate">Start Date</label>
            <InputDate class="col-md-8 form-control" @bind-Value="examSessionModel.StartDate" />
            <label for="endDate">End Date</label>
            <InputDate class="col-md-8 form-control" @bind-Value="examSessionModel.EndDate" />
            <label for="academicYear">AcademicYear</label>
            <select class="form-control" @bind="examSessionModel.AcademicYearId">
                <option value="">Select Academic Year</option>
                @foreach (var row in academicYears)
                {
                    <option value="@row.Id">@row.Name</option>
                }
            </select>
            <br />
            <button type="submit" class="btn btn-warning">Save</button>

            @if (!string.IsNullOrEmpty(Id))
            {
                <button style="margin-left: 20px" type="button" class="btn btn-dark" @onclick="GenerateStudentsInCourses">Autogenerate exams</button>
                <button style="margin-left: 20px" type="button" class="btn btn-dark" @onclick="EndExamSession">End this exam Session</button>

            }


            <div class="form-group">
                <p>@Message</p>
            </div>
        </div>
    </EditForm>
</div>
<br />
<br />
<!--Show all exams in a table-->
@if (exams.Count > 0)
{
    <h4>Exams in this exam season</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Exam Id</th>
                <th>Exam Name</th>
                <th>Exam Date</th>
                <th>No. of Students</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exam in exams)
            {
                <tr>
                    <td>@exam.Id</td>
                    <td>@exam.Name</td>
                    <td>@exam.Date</td>
                    <td>@exam.NumberOfStudents</td>
                    <td>
                    <td><a href="@("exam/" + exam.Id)" class="btn btn-warning">Edit</a></td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}



