@page "/Course/{Id?}"
@page "/Course"
<PageTitle>Kursi</PageTitle>

<div class="container p-4 bg-light rounded border shadow-lg mb-4">
    @if (string.IsNullOrEmpty(Id))
    {
        <h3>Kursi</h3>
    }
    else
    {
        <h3>Kursi i Studimit - @CourseModel.Name</h3>
        <p class="text-muted">Përditëso Kursin</p>
    }
</div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <button class="btn btn-secondary" @onclick="@(() => _navigationManager.NavigateTo("courses"))">Kthehu</button>
                <div>
                    @if (string.IsNullOrEmpty(Id))
                    {
                        <h4>Shto Kursin</h4>
                    }
                    else
                    {
                        <h4>Përditëso Kursin</h4>
                    }
                </div>
            </div>
            <div class="card shadow-lg">
                <div class="card-body">

                    <EditForm Model="@CourseModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" class="needs-validation" novalidate>
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger" />
                        <div class="form-group mb-3">
                            <label for="name" class="form-label">Emri</label>
                            <InputText id="name" class="form-control" @bind-Value="CourseModel.Name" required />
                            <ValidationMessage For="@(() => CourseModel.Name)" class="text-danger" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="mainLecturer" class="form-label">Ligjëruesi Kryesor i Kursit</label>
                            <select id="mainLecturer" class="form-control" @bind="CourseModel.MainLecturerId" required>
                                <option value="">Zgjidh Ligjëruesin Kryesor</option>
                                @foreach (var row in Lecturers)
                                {
                                    <option value="@row.Id">@row.Firstname @row.Lastname</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => CourseModel.MainLecturerId)" class="text-danger" />
                        </div>
                        <div class="form-group mb-3">
                            <label for="secondLecturer" class="form-label">Ligjëruesi i Dytë i Kursit</label>
                            <select id="secondLecturer" class="form-control" @bind="CourseModel.SecondLecturerId">
                                <option value="">Zgjidh Ligjëruesin e Dytë</option>
                                @foreach (var row in Lecturers)
                                {
                                    <option value="@row.Id">@row.Firstname @row.Lastname</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="labLecturer" class="form-label">Ligjëruesi i Lab i Kursit</label>
                            <select id="labLecturer" class="form-control" @bind="CourseModel.LabLecturerId">
                                <option value="">Zgjidh Ligjëruesin e Lab</option>
                                @foreach (var row in Lecturers)
                                {
                                    <option value="@row.Id">@row.Firstname @row.Lastname</option>
                                }
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <label for="subject" class="form-label">Lënda e Kursit</label>
                            <InputText id="subject" class="form-control" @bind-Value="CourseSubject" disabled />
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="submit" class="btn btn-success me-md-2">Ruaj</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>


        <div class="container mt-4">
            <AlertCard @ref="_alertCard" />
            @if (!string.IsNullOrEmpty(Id))
            {
                <br />
                <h4>Frekuentimi i Studentëve në Kurs</h4>
                @if (CourseAttendances != null)
                {

                    <div class="d-flex justify-content-end mb-3">
                        <button @onclick="SaveCourseAttendances" class="btn btn-warning me-2">Ruaj Ndryshimet</button>
                        <button @onclick="CalculateCourseAttendance" class="btn btn-dark">Kalkulo Frekuentimin</button>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>Emri</th>
                                    <th>Mbiemri</th>
                                    <th>Emri i Grupit</th>
                                    <th>Orët e Seminarit të Frekuentuara</th>
                                    <th>Orët e Lab të Frekuentuara</th>
                                    <th>Frekuentimi i kaluar</th>
                                    <th>Detyra e kursit fiton</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var row in CourseAttendances)
                                {
                                    <tr>
                                        <td>@row.StudentName</td>
                                        <td>@row.StudentLastName</td>
                                        <td>@row.groupName</td>
                                        <td><InputNumber class="form-control" @bind-Value="row.SeminarHoursAttended"  /></td>
                                        <td><InputNumber class="form-control" @bind-Value="row.LabHoursAttended" /></td>
                                        <td style="text-align: center;">
                                            <InputCheckbox class="form-check-input" @bind-Value="row.isAttended" disabled />
                                        </td>
                                        <td style="text-align: center;">
                                            <InputCheckbox class="form-check-input" @bind-Value="row.requirementsAreFilled" />
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            }
        </div>
    </div>
</div>
