@page "/Course"
@page "/Course/{id}"

@if (string.IsNullOrEmpty(Id))
{
    <PageTitle>Course Add</PageTitle>
    <h3>Add a Course</h3>
}
else
{
    <h3>Course - @courseModel.Name</h3>
    <PageTitle>Course Update</PageTitle>
    <p>Update Course</p>
}

<div class="row card">
    <EditForm Model="@courseModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" FormName="sampleForm">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" @bind-Value="courseModel.Name" />
            <label for="gen0">Main Lecturer of the course</label>
            <select class="form-control" @bind="courseModel.MainLecturerId">
                <option value="">Select Main Lecturer</option>
                @foreach (var row in lecturers)
                {
                    <option value="@row.Id">@row.Firstname @row.Lastname</option>
                }
            </select>
            <label for="gen1">Second Lecturer of the course</label>
            <select class="form-control" @bind="courseModel.SecondLecturerId">
                <option value="">Select Second Lecturer</option>
                @foreach (var row in lecturers)
                {
                    <option value="@row.Id">@row.Firstname @row.Lastname</option>
                }
            </select>
            <label for="gen2">Lab Lecturer of the course</label>
            <select class="form-control" @bind="courseModel.LabLecturerId">
                <option value="">Select Lab Lecturer</option>
                @foreach (var row in lecturers)
                {
                    <option value="@row.Id">@row.Firstname @row.Lastname</option>
                }
            </select>
            <label for="gen3">Course Subject</label>
            <select class="form-control" @bind="courseModel.StudyPlanSubjectId">
                <option value="">Select Subject</option>
                
            </select>


            <br />
            <button type="submit" class="btn btn-primary">Save</button>


            <div class="form-group">
                <p>@Message</p>
            </div>
        </div>
    </EditForm>
</div>